# node mode
NODE_ENV=development

# database config
POSTGRES_PASSWORD=passwordefa
POSTGRES_USER=efa
POSTGRES_DB=kalasenja
POSTGRES_HOST=localhost
POSTGRES_PORT=3001

# api config
API_PORT=3000
API_HOST=localhost
API_SECRET=kalasenja-secret
API_REQUEST_TIMEOUT=10s